h1{
    color:white;
    text-align:center;
    
}
body{
    background-color: salmon;
   
}
.phone{
 float: left;
 background-color: seashell;
 margin: 100px;
 text-align:center;
 padding: 20px 50px;
}

img{
    height: 200px
}